@import '../styles/_extensions.scss';

.popup {
  --column-min-width: 225px;
  --column-padding: 10px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas: 'sidebar core';

  &__core {
    min-width: var(--column-min-width);
    min-height: 100px;
    padding: var(--column-padding);
    grid-area: core;
  }

  &__sidebar {
    @extend %transition-hidden;
    border-right: 1px solid var(--primary-colour);
    min-height: 100px;
    grid-area: sidebar;

    &--visible {
      @extend %transition-visible;
      min-width: var(--column-min-width);
      padding: var(--column-padding);
    }
  }

  &__message {
    white-space: pre-line;

    &:not(:empty) {
      margin: 15px 0;
    }

    &--error {
      color: var(--danger-colour);
    }
  }
}

.maria-progress {
  margin: 10px 0;

  > div {
    margin: 2px 0;
  }
}

.date-form {
  @extend %transition-hidden;

  &:not(.date-form--visible) {
    position: absolute;
    height: 0px;
  }

  &--visible {
    @extend %transition-visible;
    margin: 20px 0;
  }
}

.maria-voice-activator {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  img {
    margin: 2px 4px;
  }
}
