@import '../styles/_extensions.scss';

.popup {
  --column-min-width: 200px;
  --column-padding: 10px;
  display: flex;

  &__core {
    min-width: var(--column-min-width);
    min-height: 100px;
    padding: var(--column-padding);
  }

  &__sidebar {
    @extend %transition-hidden;
    border-right: 1px solid var(--primary-colour);
    min-height: 100px;

    &--visible {
      @extend %transition-visible;
      min-width: var(--column-min-width);
      padding: var(--column-padding);
    }
  }

  &__message {
    margin: 15px 0;
    white-space: pre-line;

    &--error {
      color: var(--danger-colour);
    }
  }
}

.maria-progress {
  margin: 10px 0;

  > div {
    margin: 2px 0;
  }
}

.date-form {
  @extend %transition-hidden;

  &:not(.date-form--visible) {
    height: 0px !important;
  }

  &--visible {
    @extend %transition-visible;
    margin: 20px 5px;
  }
}
