.digit-options {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  margin: 10px 0;
}

.options-section {
  margin: 20px 0;
}

.actions {
  display: flex;
  flex-direction: column;

  > * {
    margin: 2px 0;
  }
}

.redirect-settings {
  list-style-type: none;
  padding: 8px 4px;

  &__entry {
    display: flex;
    margin: 5px 0;
  }
}

.redirect {
  &__button {
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    margin: 0 5px;
    padding: 0 2px;

    &:focus,
    &:hover,
    &:active {
      box-shadow: 1px 1px 2px 0px var(--primary-colour),
        0px 0px 1px 0px var(--primary-colour);
    }
  }

  &:hover {
    .redirect__button {
      visibility: visible;
      opacity: 1;
      pointer-events: unset;
    }
  }
}

.add-redirect-box {
  border: 1px dashed var(--primary-colour);
  padding: 5px;
  max-width: 500px;

  &__title {
    margin: 5px 0;
  }

  &__messages {
    color: var(--danger-colour);
    margin: 5px 0;
  }

  &__buttons {
    margin: 15px 0 10px;
  }
}
