.tab-store-actions {
  display: flex;
  flex-direction: column;

  > * {
    margin: 2px 0;
  }
}

.tab-group-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4px;
}

.tab-group {
  box-shadow: 0 0 2px 1px var(--primary-colour);
  padding: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin: 0 2px;
  }

  &__view-toggle {
    padding: 2px;
    height: 28px;
  }

  &__name {
    background: transparent;
    display: flex;
    flex: 1;
    max-width: 400px;
  }

  &__count {
    font-size: 0.8rem;
    margin: 2px 0;
  }

  &__patterns {
    margin: 10px 0;
  }
}

.stored-links {
  list-style-type: none;
  padding: 8px 0;

  &__button {
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    padding: 0 2px;

    &:focus,
    &:hover,
    &:active {
      box-shadow: 1px 1px 2px 0px var(--primary-colour),
        0px 0px 1px 0px var(--primary-colour);
    }
  }

  &__icon {
    margin: 0 4px;
    min-width: 16px;
  }

  &__link {
    display: contents;
    margin: 0 4px;
  }
}

.stored-links__item {
  display: flex;
  align-items: center;
  padding: 4px 0;
  margin: 1px;
  cursor: grab;

  &--chosen {
    box-shadow: 1px 1px 2px 0px var(--primary-colour),
      0px 0px 1px 0px var(--primary-colour);
  }

  &:hover {
    transform: scale(1.01);

    .stored-links__button {
      visibility: visible;
      opacity: 1;
      pointer-events: unset;
    }
  }
}

.patterns {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
}
