%anchor-shadow {
  box-shadow: inset 0 -0.5em 0 var(--anchor-shadow, #eee);
  transition: box-shadow 0.2s ease-in-out;

  &:active,
  &:focus,
  &:hover,
  &.active {
    box-shadow: inset 0 -1.2em 0 var(--anchor-shadow-hover, #ddd);
  }
}

%reset-button-styles {
  background: none;
  border: none;
}

%transition-hidden {
  min-width: 0px;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 0px;
  transition: all 0.5s cubic-bezier(1, 0.01, 0.02, 0.23);
}

%transition-visible {
  opacity: 1;
  visibility: visible;
}
