@import './_extensions';

.maria {
  --base-colour: #000;

  --primary-colour: #88001b;
  --primary-colour-hovered: #cc0028;
  --primary-colour-contrast: #fff;
  --shadow-colour: #ddd;

  --anchor-shadow: #ccc;
  --anchor-shadow-hover: var(--primary-colour);

  --font-family: 'Lucida Console', 'Courier New', monospace;
  --font-size: 16px;

  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* Element overrides */

hr {
  border-color: var(--primary-colour);
}

.mra-input {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* Headings/Titles */

.maria__heading {
  display: flex;
  align-items: center;
}
.maria__heading--spaced {
  margin: 10px 0 25px;
}

.maria__title {
  font-size: 1.5rem;
}
.maria__subtitle {
  font-size: 1rem;
  margin: 5px 0;
}

/* Buttons */

.maria__buttons {
  display: flex;
}

.mra-button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: none;
  border: none;
  box-shadow: 1px 1px 2px 0px var(--shadow-colour),
    0px 0px 1px 0px var(--shadow-colour);
  margin: 0 2px;
  padding: 5px;
  cursor: pointer;
}
.mra-button--padding {
  padding: 5px 10px;
}
.mra-button:hover {
  background-color: hsl(0, 0%, 95%);
}
.mra-button--primary {
  background-color: var(--primary-colour);
  color: var(--primary-colour-contrast);
}
.mra-button--primary:hover {
  background-color: var(--primary-colour-hovered);
}

/* Tickbox */

.mra-tickbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  margin: 2px 0;
  cursor: pointer;
}
.mra-tickbox > input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 5px 5px;
}

.mra-tickbox input:before,
.mra-tickbox input:checked:before {
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.mra-tickbox input:before {
  content: '\2610\FE0E';
  font-size: 1.5em;
}

.mra-tickbox input:disabled:before {
  content: '\274c\FE0E';
  color: #666;
  cursor: default;
}

.mra-tickbox input:checked:before {
  content: '\2611\FE0E';
  color: #0f0;
}

/* Link */
.mra-link,
.mra-link:visited {
  color: var(--primary-colour);
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    color: var(--primary-colour-hovered);
    transform: scale(1.01);
  }
}

/* Other */

.flex-spacer {
  display: flex;
  flex: 1;
}

.maria__image {
  margin: 0 10px;
}

.mra-label {
  font-size: 0.9rem;
}

.mra-input,
.mra-select {
  font-size: inherit;
  padding: 1em 0.25em 0.1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--shadow-colour);
}

.mra-input::-webkit-input-placeholder,
.mra-select::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mra-input:placeholder-shown:not(:focus)::-webkit-input-placeholder,
.has-float-label
  .mra-select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.mra-input:focus,
.mra-select:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-colour);
}
