@import './_extensions';

.maria {
  --base-colour: #000;

  --primary-colour: #88001b;
  --primary-colour-hovered: #cc0028;
  --primary-colour-contrast: #fff;
  --shadow-colour: #ddd;

  --danger-colour: #f00000;
  --success-colour: #00f000;
  --warning-colour: #ff8500;

  --anchor-shadow: #ccc;
  --anchor-shadow-hover: var(--primary-colour);

  --font-family: 'Lucida Console', 'Courier New', monospace;
  --font-size: 16px;

  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* Element overrides */

.maria-hr {
  border-color: var(--primary-colour);
  margin-top: 1.25rem;
}

.maria-input {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* Headings/Titles */

.maria__heading {
  display: flex;
  align-items: center;
}
.maria__heading--spaced {
  margin: 10px 0 25px;
}

.maria__title {
  font-size: 2rem;
}
.maria__subtitle {
  font-size: 1rem;
  margin: 5px 0;
}

/* Buttons */

.maria__buttons {
  display: flex;
  margin: 5px 0;
}

.maria-button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: none;
  border: none;
  box-shadow: 1px 1px 2px 0px var(--shadow-colour),
    0px 0px 1px 0px var(--shadow-colour);
  margin: 0 2px;
  padding: 5px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: hsl(0, 0%, 95%);
  }
}
.maria-button--padding {
  padding: 5px 10px;
}
.maria-button--full-width {
  width: 100%;
}

.maria-button--primary {
  background-color: var(--primary-colour);
  color: var(--primary-colour-contrast);

  &:focus,
  &:hover {
    background-color: var(--primary-colour-hovered);
  }
}

.maria-radio-group {
  display: flex;
  margin: 5px 0;
}
.maria-button--radio {
  flex: 1;

  &:hover,
  &_active {
    background-color: var(--primary-colour);
    color: var(--primary-colour-contrast);

    &:focus,
    &:hover,
    &:active {
      background-color: var(--primary-colour-hovered);
    }
  }
}

/* Tickbox */

.maria-tickbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  margin: 2px 0;
  cursor: pointer;
}
.maria-tickbox > input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.maria-tickbox input:before,
.maria-tickbox input:checked:before {
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.maria-tickbox input:before {
  content: '\2610\FE0E';
  font-size: 1.8em;
}

.maria-tickbox input:disabled:before {
  content: '\274c\FE0E';
  color: #666;
  cursor: default;
}

.maria-tickbox input:checked:before {
  content: '\2611\FE0E';
  color: #0f0;
}

/* Link */
.maria-link,
.maria-link:visited {
  color: var(--primary-colour);
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    color: var(--primary-colour-hovered);
    transform: scale(1.01);
  }
}

/* Other */

.flex-spacer {
  display: flex;
  flex: 1;
}

.maria__image {
  margin: 0 10px;
}

.maria-label {
  font-size: 0.9rem;
}

.maria-input,
.maria-select {
  font-size: inherit;
  padding: 1em 0.25em 0.1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--shadow-colour);
}

.maria-input::-webkit-input-placeholder,
.maria-select::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.maria-input:placeholder-shown:not(:focus)::-webkit-input-placeholder,
.has-float-label
  .maria-select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.maria-input:focus,
.maria-select:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-colour);
}
