@import '../styles/_toast.scss';

.maria-link {
  position: relative;
  color: var(--primary-colour);
  font-weight: bold;
  text-decoration: underline;
}
.maria-link:hover {
  color: var(--primary-colour-hovered);
}

/* Detail display */
.maria-detail {
  position: fixed;
  background-color: #fff;
  max-width: 500px;
  height: auto;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px var(--shadow-colour);
  z-index: 1000;
}
.maria-detail__column {
  display: flex;
  flex-direction: column;
}
.maria-detail__title {
  margin: 10px 0;
}

.maria-detail__tags {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}
.maria-detail__tag {
  display: inline-flex;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 1rem;
  background-color: var(--primary-colour);
  color: #fff;
}

.maria-mal-add {
  margin: 10px 0;
}
