@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rss-viewer {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas: 'feeds feeds content content content content content content';
  min-height: calc(100vh - 135px);

  &__title {
    font-size: 1.5rem;
    margin: 5px;
  }

  &__options {
    position: relative;
    grid-area: feeds;
    padding: 5px;
    background-color: var(--rss-viewer-sidebar-background-colour);

    ul {
      list-style-type: none;
      padding: 0;
      margin: 5px 0;
    }
  }

  &__content {
    grid-area: content;
    border: 1px solid var(--rss-viewer-sidebar-background-colour);
  }
}

.check-updates-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  margin: 12px 5px;
  font-size: 1rem;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--primary-colour);
    color: var(--primary-colour-contrast);
  }

  &__icon {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  &--loading &__icon {
    animation-name: spin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.feed__item {
  position: relative;
  display: flex;
  align-items: center;

  &--active {
    &,
    .remove-button,
    .feed-button {
      background-color: var(--primary-colour);
      color: var(--primary-colour-contrast);
    }
  }
}

.remove-button {
  font-size: 0.75rem;
  padding: 2px;
  margin: 0 5px;

  &:not(:hover) {
    box-shadow: none;
  }
}

.feed-button {
  display: flex;
  flex: 1;
  align-items: center;
  box-shadow: none;
}
.feed-icon {
  width: 1rem;
  margin: 0 5px;
}
.feed-name {
  text-align: left;
}
.feed-update {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  padding: 1px;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: var(--information-colour);
  color: var(--primary-colour-contrast);
  text-align: center;
}

.rss-feed {
  padding: 0 5px;

  &__title {
    font-size: 1.5rem;
    margin: 8px 0;
  }

  &__subtitle {
    font-size: 0.8rem;
    color: var(--faded-out);
  }
}

.rss-feed-entry {
  padding: 0 5px;
  margin-bottom: 10px;

  &__date {
    font-size: 0.8rem;
    color: var(--faded-out);
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__content {
    padding: 5px 0;
  }
}

@keyframes bouncing {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}

.maria-loading {
  display: flex;
  width: 100%;
  height: 100%;

  &__box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__orb {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: var(--primary-colour);
    border-radius: 50%;
    animation: bouncing 0.6s infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
